[submodule ".registry"]
	path = .registry
	url = https://github.com/techtonique/techtonique.r-universe.dev
	branch = HEAD
[submodule "ahead"]
	path = ahead
	url = https://github.com/Techtonique/ahead
[submodule "bcn"]
	path = bcn
	url = https://github.com/Techtonique/bcn
[submodule "crossvalidation"]
	path = crossvalidation
	url = https://github.com/Techtonique/crossvalidation
[submodule "esgtoolkit"]
	path = esgtoolkit
	url = https://github.com/Techtonique/esgtoolkit
[submodule "forecastingapi"]
	path = forecastingapi
	url = https://github.com/Techtonique/forecastingAPI_r
[submodule "learningmachine"]
	path = learningmachine
	url = https://github.com/Techtonique/learningmachine
[submodule "mlsauce"]
	path = mlsauce
	url = https://github.com/Techtonique/mlsauce_r
[submodule "nnetsauce"]
	path = nnetsauce
	url = https://github.com/Techtonique/nnetsauce_r
